.publi
{
	margin-top: 50px;
	border-radius: 10px 10px;
	border:1px red solid;
	padding: 10px;
	padding-bottom: 25px;
}

.publi button
{
	
	border:1px red solid;

}


.publi button:hover
{
	
	border:1px black solid;
	background: red;
	color: white;

}